/* @group grid base */

body#predictions {

}

div#message {
	padding: 10px;
	min-height: 250px;
	background-color: white;
	font-size: 14px;
	overflow: hidden;
	clear: both;
}

div#message div.content {
	width: 860px;
	margin: 20px auto;
	clear: both;
	overflow: hidden;
	font-family: "Arial Rounded MT Bold", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.5em;
}

div#message div.content div.entryBlock,
div#message div.content div.finalBlock {
	width: 500px;
	text-align: center;
	padding: 16px;
	margin: 0 auto;
	border-bottom: 2px dotted rgba(28,38,43,0.5);
}

div#message div.content div.finalBlock {
	padding-top: 12px;
	border-bottom: none;
}

a.buttonCenter {
	margin: 10px auto;
}



div#screen {
	width: 200px;
	height: 200px;
	display: none;
	background: url(/media/i/screens/black/75.png) repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

/* @group actionbar */

#predictions div.actionbar {
	overflow: hidden;
	clear: both;
	background-color: #CCDAE3;
}

#predictions div.actionbar div.label {
	float: left;
	overflow: hidden;
	height: 140px;
	background-color: white;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
}

#predictions div.actionbar div.interior {
	height: 140px;
	background-color: white;
}

#predictions div.actionbar div.interior div.grid_data {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	background: #CCDAE3 url(/media/i/grid_logo.png) no-repeat right center;
}

#predictions div.actionbar div.interior div.details {
	height: 100px;
	overflow: hidden;
}


#calcpane div.profit {
	padding: 0 10px 0 10px;
	overflow: hidden;
}

#calcpane div.profit div.emulation {
	width: 120px;
	text-align: center;
	float: right;
	overflow: hidden;
	clear: both;
}


#calcpane div.profit div.desc,
#calcpane div.profit div.support {
	text-align: center;
	overflow: hidden;
	font-size: 12px;
	font-weight: bold;
}

#calcpane div.profit div.desc {
	color: #656565;
	padding: 6px;
}

#calcpane div.profit div.support {
	height: 24px;
	margin: 0 6px;
}

#calcpane div.profit div.support * {
	display: block;
	float: left;
	overflow: hidden;
}

#calcpane div.profit a.button {
	width: 20px;
	height: 20px;
	text-indent: -999px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#calcpane div.profit a#emulation_down {
	background: url(/media/i/buttons/down20_off.png) no-repeat center center;
}
#calcpane div.profit a#emulation_down:hover {
	background: url(/media/i/buttons/down20_on.png) no-repeat center center;
}

#calcpane div.profit a#emulation_up {
	background: url(/media/i/buttons/up20_off.png) no-repeat center center;
}
#calcpane div.profit a#emulation_up:hover {
	background: url(/media/i/buttons/up20_on.png) no-repeat center center;
}


#calcpane div.profit div.emulation input {
	height: 17px;
	width: 58px;
	padding: 3px 0 2px 0;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #C2231F;
	border: 1px dotted silver;
}

#calcpane div.profit div.seek {
	width: 120px;
	margin: 10px 0 0 0;
	text-align: center;
	float: right;
	overflow: hidden;
	clear: both;
}

#calcpane div.profit div.seek div.entry {
	padding: 4px 12px;
	border: 1px dotted silver;
	background-color: white;
	font-size: 14px;
	height: 16px;
	color: #C2231F;
}



/* @end */

/* @group titlebar */

#predictions div.titlebar {
	overflow: hidden;
	clear: both;
	background-color: #CCDAE3;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
}

#predictions div.titlebar div.label {
	width: 292px;
	padding: 6px 4px;
	height: 12px;
	font-weight: bold;
	float: left;
	overflow: hidden;
	font-size: 11px;
}

#predictions div.titlebar div.interior {
	background-color: #CCDAE3;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
}

#predictions div.titlebar div.interior div.title {
	padding: 6px 0;
	height: 12px;
	text-align: center;
	font-weight: bold;
	float: left;
	overflow: hidden;
	font-size: 11px;
	border-right: 1px dotted silver;
}

/* @end */

/* @group datarow */

#predictions div.datarow {
	font-size: 12px;
	height: 36px;
	overflow: visible;
	clear: both;
	margin-left: 10px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
}

#predictions div.border {
	width: 6px;
	height: 24px;
	overflow: hidden;
	background-color: #CCDAE3;
	float: left;
}

#predictions div.datarow.odd {
	background-color: #f4f4f4;
}

#predictions div.datarow.even {
	background-color: white;
}

#predictions div.datarow:hover {
	background-color: #65b444;
}

#predictions div.datarow div.label {
	text-align: right;
	padding: 4px 4px 4px 0;
	width: 286px;
}

#predictions div.datarow div.label div.editbutton {
	float: left;
	height: 16px;
	width: 16px;
}

#predictions div.datarow div.label a {
	display: block;
	text-indent: 7000px;
	height: 16px;
	width: 16px;
	overflow: hidden;
	margin: 0 0 0 4px;
	padding: 0;
}

#predictions div.datarow div.label a.edit {
	float: left;
	background: url(/media/i/buttons/edit_base.png) no-repeat;
}
#predictions div.datarow div.label a.edit:hover {
	background-image: url(/media/i/buttons/edit_on.png);
}

#predictions div.datarow div.label a.delete {
	float: right;
	background: url(/media/i/buttons/delete_base.png) no-repeat;
}
#predictions div.datarow div.label a.delete:hover {
	background-image: url(/media/i/buttons/delete_on.png);
}

#predictions div.datarow div.label span {
	display: block;
	float: right;
	margin-top: 2px;
}

#predictions div.datarow div.data {
	height: 24px;
	padding: 6px 0;
	text-align: center;
	float: left;
	overflow: hidden;
	border-right: 1px solid silver;
}

#predictions div.datarow div.data img {
	margin: -2px 0 0 0;
}

#predictions div.datarow div.additional {
	position: relative;
	z-index: 100;
	left: 200px;
	top: 0;
	height: 28px;
	overflow: hidden;
	display: none;
	width: 562px;
	color: black;
	clear: both;
	background: url(/media/i/add_backlt.png) repeat-x;
}

#predictions div.datarow:hover div.additional {
	display: block;
}

#predictions div.datarow div.additional div.add_data {
	width: 540px;
	height: 22px;
	padding: 6px 0 0 10px;
	float: left;
	overflow: hidden;
}

#predictions div.datarow div.additional div.add_data div.single_race {
	margin: 0 20px 0 0;
	height: 16px;
	float: left;
	overflow: hidden;
}

#predictions div.datarow div.additional div.add_data div.single_race span.single_label {
	font-size: 11px;
	font-weight: bold;
	color: #7f7f7f;
}

#predictions div.datarow div.additional div.add_data div.single_race span.single_entry {
}


/* @end */

/* @group bottom bars */

#predictions div.bottompad, #predictions div.toppad {
	height: 16px;
	background-color: #CCDAE3;
	overflow: hidden;
	clear: both;
}

#predictions div.toppad {
	background-color: #CCDAE3;
}

#predictions div.bottompad {
	margin-left: 10px;
}

#predictions div.toppad div.label {
	width: 300px;
	height: 16px;
	background-color: white;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}

#predictions div.bottompad div.label {
	background-color: white;
	height: 16px;
}

#predictions div.bottompad div.interior, #predictions div.toppad div.interior {
	height: 16px;
	background-color: #CCDAE3;
}

#predictions div.toppad div.topcurves {
	height: 16px;
	width: 390px;
	float: left;
	background-color: white;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}

#predictions div.bottompad div.bottomcurves {
	height: 16px;
	width: 390px;
	float: left;
	background-color: white;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
}

#predictions div.bottompad div.border, #predictions div.toppad div.border {
	float: left;
	height: 16px;
	width: 6px;
	background-color: #CCDAE3;
}






#predictions div.bottombar {
	height: 24px;
	margin-left: 10px;
	overflow: hidden;
	clear: both;
}

#predictions div.bottombar div.label a {
	margin: 0 auto;
}

#predictions div.bottombar div.interior {
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	height: 22px;
	width: 394px;
	padding: 2px 8px 0 0;
	background-color: #CCDAE3;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
}



/* @end */

/* @end */







/* @group predictions */

#predictions {
	width: 952px;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}

#calcpane {
	float: left;
	width: 242px;
	height: 252px;
	padding: 4px;
	overflow: hidden;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	background: #CCDAE3 url(/media/i/horse_white.png) no-repeat right center;
}

#calculations {
	float: left;
	width: 702px;
	overflow: hidden;
}

#calculations .titlebar .label.title {
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

#predictions div.label {
	width: 290px;
	float: left;
	overflow: hidden;
	text-align: right;
}

#predictions div.interior {
	width: 402px;
	float: left;
	overflow: hidden;
}

#predictions div.race { width: 129px; }
#predictions div.races_combined {
	width: 389px;
}

#predictions div.titlebar div.interior div.title.last {
	border-right: 1px solid #CCDAE3;
}

#predictions div.datarow div.data.last {
	width: 130px;
	padding: 6px 0;
	border: 0;
}

/* @group jg row */

#predictions div#jg_entry,
#predictions div#jg_entry:hover {
	background-color: #C2231F;
}

#predictions div#jg_entry div.label span {
	color: white;
}

#predictions div#jg_entry div.data {
	color: white;
	font-size: 14px;
	font-weight: bold;
}

#predictions div#jg_entry div.data div.entry {
	color: #1C262B;
	width: 58px;
	margin: 0 auto;
	padding: 4px 0;
	border: 1px dotted silver;
}

/* @end */

#predictions div.actionbar {
	display: none;
}

#predictions div.datarow div.label span.partner {
	color: #C2231F;
}

#predictions div.datarow div.label span.total {
	color: #1C262B;
}

#predictions div.datarow div.label span {
	font-weight: bold;
	font-size: 14px;
	margin: 6px 10px 0 0;
	color: #656565;
}

#predictions div.datarow div.border {
	height: 36px;
}
#predictions div.datarow:hover div.label span {
	color: white;
}

#predictions div.datarow div.data input {
	font-size: 14px;
	text-align: center;
	width: 60px;
	height: 18px;
	border: 1px dotted silver;
}


#calcpane div.details {
	margin-top: 10px;
}

#calcpane div.details div.item {
	padding: 6px 0 0 0;
	overflow: hidden;
	clear: both;
}

#calcpane div.details div.item.course div.data.active {
	color: white;
	background-color: #C2231F;
}

#calcpane div.details div.item.course div.data {
	margin-right: 4px;
}

#calcpane div.details div.item div.desc,
#calcpane div.details div.item div.data {
	padding: 3px 6px;
	font-size: 11px;
	font-weight: bold;
	float: left;
}

#calcpane div.details div.item div.desc {
	border: 1px solid transparent;
	width: 100px;
	text-align: right;
	color: #656565;
}

#calcpane div.details div.item div.data {
	background-color: white;
	border: 1px dotted rgba(28,38,43,0.25);
}

#predictions div.datarow div.data {
	font-size: 14px;
	font-weight: bold;
}

#predictions div.datarow div.data div.entry {
	width: 60px;
	margin: 0 auto;
	padding: 4px 0;
	background-color: white;
	border: 1px dotted silver;
}

#predictions div.datarow div.data div.euro {
	background: white url(/media/i/euro50.png) no-repeat 45px 7px;
}

/* @end */





/* @group Today's Races */

#todays_races {
	width: 762px;
	margin: 50px auto 0 auto;
	overflow: hidden;
	clear: both;
}

#todays_races div.label {
	width: 200px;
	float: left;
	overflow: hidden;
	text-align: right;
}

#todays_races div.interior {
	width: 562px;
	float: left;
	overflow: hidden;
}

#todays_races div.time { width: 149px; }

#todays_races div.spot { width: 169px; }
#todays_races div.pmu { width: 79px; }
#todays_races div.race { width: 79px; }
#todays_races div.first { width: 69px; }
#todays_races div.second { width: 69px; }
#todays_races div.third { width: 69px; }

#todays_races div.races_combined { width: 209px; }


#todays_races div.titlebar div.interior div.title.third {
	border-right: 1px solid #CCDAE3;
}

#todays_races div.datarow div.data.third {
	width: 80px;
	border: 0;
}


/* @group titlebar */

#todays_races div.titlebar {
	overflow: hidden;
	clear: both;
	background-color: #CCDAE3;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomleft: 8px;
}

#todays_races div.titlebar div.label {
	width: 192px;
	padding: 6px 4px;
	height: 12px;
	font-weight: bold;
	float: left;
	overflow: hidden;
	font-size: 12px;
}

#todays_races div.titlebar div.interior {
	background-color: #CCDAE3;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
}

#todays_races div.titlebar div.interior div.title {
	padding: 6px 0;
	height: 12px;
	text-align: center;
	font-weight: bold;
	float: left;
	overflow: hidden;
	font-size: 12px;
	border-right: 1px dotted silver;
}

/* @end */

/* @group datarow */

#todays_races div.datarow {
	font-size: 14px;
	height: 36px;
	overflow: visible;
	clear: both;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
}

#todays_races div.border {
	width: 6px;
	height: 24px;
	overflow: hidden;
	background-color: #CCDAE3;
	float: left;
}

#todays_races div.datarow div.border {
	height: 36px;
}


#todays_races div.datarow.odd {
	background-color: #f4f4f4;
}

#todays_races div.datarow.even {
	background-color: white;
}

#todays_races div.datarow.active {
	color: white;
	background-color: #C2231F;
}

#todays_races div.datarow:hover {
	color: white;
	background-color: #65b444;
}

#todays_races div.datarow div.label {
	text-align: right;
	padding: 4px 10px 4px 0;
	width: 190px;
}

#todays_races div.datarow div.label div.editbutton {
	float: left;
	height: 16px;
	width: 16px;
}

#todays_races div.datarow div.label span {
	display: block;
	float: right;
	margin-top: 6px;
}

#todays_races div.datarow div.data {
	height: 16px;
	padding: 10px 0;
	text-align: center;
	float: left;
	overflow: hidden;
	border-right: 1px solid silver;
}

/* @end */

/* @group bottom bars */

#todays_races div.bottompad, #todays_races div.toppad {
	height: 16px;
	background-color: #CCDAE3;
	overflow: hidden;
	clear: both;
}

#todays_races div.toppad {
	background-color: #CCDAE3;
}

#todays_races div.toppad div.label {
	width: 200px;
	height: 16px;
	background-color: white;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
}

#todays_races div.bottompad div.label {
	background-color: white;
	height: 16px;
}

#todays_races div.bottompad div.interior, #todays_races div.toppad div.interior {
	height: 16px;
	background-color: #CCDAE3;
}

#todays_races div.toppad div.topcurves {
	height: 16px;
	width: 550px;
	float: left;
	background-color: white;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}

#todays_races div.bottompad div.bottomcurves {
	height: 16px;
	width: 550px;
	float: left;
	background-color: white;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
}

#todays_races div.bottompad div.border, #todays_races div.toppad div.border {
	float: left;
	height: 16px;
	width: 6px;
	background-color: #CCDAE3;
}






#todays_races div.bottombar {
	height: 24px;
	overflow: hidden;
	clear: both;
}

#todays_races div.bottombar div.label a {
	margin: 0 auto;
}

#todays_races div.bottombar div.interior {
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	height: 22px;
	width: 554px;
	padding: 2px 8px 0 0;
	background-color: #CCDAE3;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
}



/* @end */


/* @end */



